# Welcome to Serverless!
#
# This file is the main config file for your service.
# It's very minimal at this point and uses default values.
# You can always add more config options for more control.
#
# For full config options, check the docs:
#    docs.serverless.com
#
# Happy Coding!

service: language-api

frameworkVersion: '3'

provider:
  name: aws
  httpApi:
    # Payload format version (note: use quotes in YAML: '1.0' or '2.0') (default: '2.0')
    payload: '1.0'
    # Enable detailed CloudWatch metrics (default: false)
    metrics: true
    # Enable CORS HTTP headers with default settings (allow all)
    # Can be fine-tuned with specific options
    cors: true

  runtime: go1.x

  stage: ${opt:stage, 'dev'}
  region: ${env:AWS_REGION, 'us-west-2'}

  # environment: 
  #  GODEBUG: netdns=cgo

package:
  patterns:
    - '!./**'
    - ./bin/**

functions:
  hello:
    handler: bin/hello
    events:
      - httpApi:
          path: /hello
          method: get
  db:
    handler: bin/db
    events:
      - httpApi:
          path: /db
          method: get 
  experimental:
    handler: bin/experimental
    timeout: 30
    events:
      - httpApi:
          path: /experimental
          method: get          
  language:
    handler: bin/language
    events:
      - httpApi:
          path: /language
          method: get  
      - httpApi:
          path: /language/{id}
          method: get  
      - httpApi:
          path: /language
          method: post
      - httpApi:
          path: /language/{id}
          method: put

plugins:
  - serverless-offline


custom:
  serverless-offline:
    useDocker: true